
body {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

header > nav {
  margin-top: 20px;
}

header > nav > ul > li {
  display: inline;
  padding-left: 200px;
}

body > article {
  margin-top: 14px;
}

#intro {
  text-align: center;
  line-height: 30px;
}
body > article > h2 {
  margin-top: 10px;
  text-align: center;
  font-size: 50px;
}

body > article > p {
  margin-top: 20px;
}

#ashley {
  background-color: rgb(250, 181, 250);
  width: 940px;
  margin-left: 10px;
}

#ashley > img {
  float: right;
  border-radius: 3px;
  margin-left: 20px;
  height: 190px;
  max-width:200px
}

#ashley > h3 {
  text-align: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  color: rgb(70, 2, 70);
}

#ashley > h3 > p {
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

#ashley > h3 > p > a {
  margin-left: 16px;
}

#ashley > p {
  padding-left: 6px;
  padding-bottom: 6px;
  line-height: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(70, 2, 70);
  font-size: 14px;
}

#mason {
  width: 940px;
  margin-left: 10px;
  background-image: linear-gradient(to right,#261728, #6a0a77) ;
  font-family: monospace;
  color: #09ef2f;
}

#mason > img {
  float: left;
  margin-right: 10px;
  height: 160px;
  width: 160px;
  border: groove 4px #eda509 ;
}

#mason > h3 {
  font-size: 40px;
}

#mason > h3 > p {
  margin-top: 10px;
  font-size: 15px;
  color:  #09ef2f;
}

#mason > h3 > p > a {
  margin-left: 2px;
  margin-right: 12px;
  color:  #09ef2f;
}

#mason > p {
  padding-left: 10px;
  padding-bottom: 5px;
  border-bottom: groove 5px #f63232;
}

#john {
  width: 940px;
  margin-left: 10px;
  background-color: rgb(94, 127, 226);
  padding-left: 6px;
  padding-bottom: 6px;
}

#john > img {
  float: right;
  margin-left: 10px;
  height: 160px;
  width: 160px;
}

#john > h3 {
  text-align: right;
  font-size: 40px;
}
#john > h3 > p {
  margin-top: 10px;
  font-size: 15px;
}

#john > h3 > p > a {
  margin-left: 12px;
}

footer > nav {
  margin-top: 40px;
}

footer > nav > ul > li {
  display: inline;
  margin-left: 70px;
  padding-left: 60px;
}